<div>
    <mat-form-field>
        <input type="number">
    </mat-form-field>

    <mat-form-field>
        <select mat-select>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
    </mat-form-field>

    <mat-form-field>
        <input type="number">
    </mat-form-field>
    <button mat-button
        type="button" name="button">=</button>
    <span id="output">{{ calc.sum }}</span>
</div>
