<mat-card>
    <mat-card-title>Linda's subtraction component</mat-card-title>
    <mat-card-content>
        <mat-form-field>
                <input matInput placeholder="First number" [(ngModel)]='firstNumber'>
        </mat-form-field>
        &nbsp; - &nbsp;
        <mat-form-field>
            <input matInput placeholder="Second number" [(ngModel)]='secondNumber'>
        </mat-form-field>
        &nbsp;<button mat-stroked-button (click)='subtractNumbers()'>=</button>&nbsp;
        {{ subtractionAnswer }}

    </mat-card-content>
</mat-card>