mat-card {
    background-color: aqua;
    margin-top: 20px;
    max-width: 1000px;
}

mat-card-content {
    background-color: white;
}

mat-form-field {
    margin: 10px 20px 0 20px;
}

p {
    display: inline-block;
    font-size: 30px;
}