<mat-card style="background-color: gray;">

    <mat-card-title>
        Enter Triangle Point Values
    </mat-card-title>

    <mat-card-content>
        <svg height="100" width="100">
            <polygon [attr.points]="points" style="fill:#003153;stroke:none;stroke-width:0" />
        </svg>
    </mat-card-content>

    <mat-card-footer *ngFor="let c of coords">
        <fieldset>
            <legend>Point 1</legend>
            <mat-label>X Coord</mat-label>
            <mat-form-field>
                <input matInput type="number" min="0" max="100" id="coordOneX" [value]="c.coordOne.x" (change)='setPointOneX($event)'>
            </mat-form-field>
            <mat-label>Y Coord</mat-label>
            <mat-form-field>
                <input matInput type="number" min="0" max="100" id="coordOneY" value={{c.coordOne.y}} (change)='setPointOneY($event)'>
            </mat-form-field>
        </fieldset>

        <fieldset>
            <legend>Point 2</legend>
            <mat-label>X Coord</mat-label>
            <mat-form-field>
                <input matInput type="number" min="0" max="100" id="coordTwoX" value={{c.coordTwo.x}} (change)='setPointTwoX($event)'>
            </mat-form-field>
            <mat-label>Y Coord</mat-label>
            <mat-form-field>
                <input matInput type="number" min="0" max="100" id="coordTwoY" value={{c.coordTwo.y}} (change)='setPointTwoY($event)'>
            </mat-form-field>
        </fieldset>

        <fieldset>
            <legend>Point 3</legend>
            <mat-label>X Coord</mat-label>
            <mat-form-field>
                <input matInput type="number" min="0" max="100" id="coordThreeX" value={{c.coordThree.x}} (change)='setPointThreeX($event)'>
            </mat-form-field>
            <mat-label>Y Coord</mat-label>
            <mat-form-field>
                <input matInput type="number" min="0" max="100" id="coordThreeY" value={{c.coordThree.y}} (change)='setPointThreeY($event)'>
            </mat-form-field>
        </fieldset>
        
    </mat-card-footer>

</mat-card>



