<mat-card>
    <mat-card-title>
        Randomize your Pizza Toppings!
    </mat-card-title>
    <mat-card-content>
        <section class="choices" style="width: 100%;">
            <div style="width: calc(100% / 3); display: inline-block; text-align: center; vertical-align: top;">
                <h3>Number of Toppings</h3>
                <mat-slider></mat-slider>
            </div>
            <div style="width: calc(100% / 3); display: inline-block; text-align: center;vertical-align: top; ">
                <h3>Types of Toppings</h3>
                <ul style="width: 75%; margin: 0 auto;">
                    <li style="list-style-type: none; width: 100%; text-align: left;">
                        <mat-checkbox>Normal</mat-checkbox>
                    </li>
                    <li style="list-style-type: none; width: 100%; text-align: left;">
                        <mat-checkbox>Abnormal</mat-checkbox>
                    </li>
                    <li style="list-style-type: none; width: 100%; text-align: left;">
                        <mat-checkbox>Paranormal</mat-checkbox>
                    </li>
                </ul>
            </div>
            <div style="width: calc(100% / 3); display: inline-block; text-align: center; vertical-align: top;">
                <h3>Vegitarian Only?</h3>
                <mat-slide-toggle>Yes</mat-slide-toggle>
            </div>
            <button
                mat-button
            >
                Randomize
            </button>
        </section>
        <section class="results">

        </section>
        <section>
            <button
                mat-button
            >
                Reset
            </button>
            <button
                mat-button
            >
                Order
            </button>
            <div
            >
                <mat-checkbox>
                </mat-checkbox>
            </div>
        </section>
    </mat-card-content>
</mat-card>


