<mat-card>
    <mat-card-title>
        Randomize your Pizza Toppings!
    </mat-card-title>
    <mat-card-content>
        <section>
            <div>
                <h3>Number of Toppings</h3>
                <mat-slider></mat-slider>
            </div>
            <div>
                <h3>Types of Toppings</h3>
                <mat-checkbox>Normal</mat-checkbox>
                <mat-checkbox>Abnormal</mat-checkbox>
                <mat-checkbox>Paranormal</mat-checkbox>
            </div>
            <div>
                <h3>Vegitarian Only?</h3>
                <mat-slide-toggle>Yes</mat-slide-toggle>
            </div>
            <button
                mat-button
            >
                Randomize
            </button>
        </section>
        <button
            mat-button
        >
            Reset
        </button>
        <button
            mat-button
        >
            Order
        </button>
        <div
        >
            <mat-checkbox>
            </mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>


