<app-pizza-topping></app-pizza-topping>
<br>
<app-tjs-addition></app-tjs-addition>
<br>
<app-slugging-percentage></app-slugging-percentage>
<br>
<app-rotate-triangle></app-rotate-triangle>
<br>
<app-greg-card></app-greg-card>
<br>
<app-jps-math></app-jps-math>
<br>
<app-wisconsin-sales-tax></app-wisconsin-sales-tax>
<br>
<app-lx-subtract></app-lx-subtract>
<br>
<app-apweek6></app-apweek6>
<br>
<app-sum-thing></app-sum-thing>
<br>
<app-jp-subtract></app-jp-subtract>
<br>
<app-tje-multiplication></app-tje-multiplication>
<br>
<app-bills-wilks-calc></app-bills-wilks-calc>
