
<mat-card [style.backgroundColor]='slideBKGColor'>
    <mat-card-title>
        Greg's Component Card Title
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content>

        <mat-form-field>
            <mat-label>Function</mat-label>
            <mat-select>
                <mat-option *ngFor="let func of funcs" [value]='func.name'>
                    {{func.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <div class="slider">
            <h4>Pen Color:</h4>
            <mat-slider
                class = 'slider-color'
                [max] = '360'
                [min] = '0'
                [step] = '1'
                [(ngModel)]='slideHSLColor'
                (input)='onHSLColorChange($event)'
            ></mat-slider>
        </div>

        <div class="slider">
            <h4>Background:</h4>
            <mat-slider
                class = 'slider-bkg'
                [max] = '90'
                [min] = '10'
                [step] = '1'
                [(ngModel)]='slideBKGLum'
                (input)='onBKGColorChange($event)'
            ></mat-slider>
        </div>

        <div class="slider">
            <h4>Time Value:</h4>
            <mat-slider
                class = 'slider-time'
                [max] = '6.28318531'        
                [min] = '0'
                [step] = '.01'
                [(ngModel)]='slideTime'
                (input)='onTimeChange($event)'
            ></mat-slider>
        </div>

        <div class="slider">
            <h4>Zoom:</h4>    
            <mat-slider
                class = 'slider-zoom'
                [max] = '100'
                [min] = '0'
                [step] = '1'
                [(ngModel)]='slideZoom'
                (input)='onZoomChange($event)'
            ></mat-slider>
        </div>

        <button
            mat-button
            (click)='buttonClickHandler()'>
            random button 1
        </button>

        <div
            *ngFor='let el of someArray'
        >
            <mat-checkbox
                [(ngModel)]="el.key"
            >
                {{ el.name }} ({{ el.blah }})
            </mat-checkbox>
        </div>

    </mat-card-content>

</mat-card>