 <mat-card>
     <mat-card-title>
         Available Pizza Toppings
     </mat-card-title>
     <mat-card-content>
        <br>
        <button
            mat-button
            (click)='checkAllToppings()'
        >
            All
        </button>
         <button
             mat-button
             (click)='unCheckAllToppings()'
             >
             None
        </button>
         <br>
         <br>
        <div
            *ngFor='let pt of availablePizzaToppings'
        >
            <label>
                <mat-checkbox 
                    type="checkbox"
                    [(ngModel)]="pt.checked"
                >
                    {{ pt.name }} ({{ pt.price | currency }})
                </mat-checkbox>
            </label>
        </div>
        <br>
        <div>
            <!-- <button
                mat-raised-button
                color='accent'
                (click)='calculateTotal()'
            >
                Calculate Total
            </button> -->
            <h3>Total: {{ total | currency }}</h3>
        </div>
     </mat-card-content>
 </mat-card>
