#pizzaComponentContainer h1 {
    text-decoration: underline;
}

#pizzaComponentContainer #toppingChoices {
    width: 16em;
    text-align: right;
    line-height: 2em;
}

#pizzaComponentContainer label {
    display: inline-block;
    width: 14em;
}

#pizzaComponentContainer button {
    width: 18em;
    height: 3em;
    border-radius: 4px;
}
